<style>
    ul.no-bullets {
        list-style-type: none;
        margin: 3px;
        padding: 10px 15px;
    }
</style>

<ul class="no-bullets">
    <a href="/" {% if page.url=="/" %}style="color: red;" {% endif %}>
        Home
    </a>
</ul>

<nav>
    <ul class="no-bullets">
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}" {% if page.url==item.link %}style="color: red;" {% endif %}>
                    {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>