<style>
    ul.no-bullets {
        list-style-type: none;
        padding-inline-start: 0px;
    }
</style>

<ul class="no-bullets">
    <a href="/" {% if page.url=="/" %}style="color: red;" {% endif %}>
        Home
    </a>
</ul>

<nav>
    <h1>Games and Projects</h1>
    <ul class="no-bullets" >
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}" {% if page.url==item.link %}style="color: red;" {% endif %}>
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>