---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

.wrapper {
  width:1000px;
  margin:0 auto;
}

section {
  width:700px;
  float:right;
  padding-bottom:50px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: visible;
  display: inline-block;
}
