---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

section {
  width: 700px;
  float: right;
  padding-bottom: 50px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: visible;
  display: inline-block;
}

details > summary {
  cursor: pointer;
  list-style: none;
}

.highlight {
  background-color: #f8f8f8;
  cursor: auto;
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }
}
